body {
    font-size: 120%;
}

p {
    font-size: 1.2rem; }

a:hover {
    color: #ed6e00; }
a, a:visited {
       font-weight: bold; }

dl {
    font-size: 1.1rem; }
dl dt {
    font-variant: normal; }
dl dt a {
    color: #D6F9FB;
    font-weight: bold;
    text-transform: uppercase;
}
dl dt a:hover {
    color: #00b8dc;
}

h1, h2, h3 {
    color: #E30278;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold; }

.panel {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    background-color: #3fbfb7;
    border: none;
    box-shadow: 10px 10px 10px #669ba2;
    color: #fff; }
.panel * {
    color: #fff; }
.panel .deadline {
    display: block;
    margin-top: 1rem;
    color: #005881; }

.details {
    background-color: #139CE9;
    border-top: 10px solid #E30278;
    color: #005881; }
.details h3 {
    text-shadow: 1px 1px 1px #669ba2;
    text-transform: uppercase;
    font-weight: bold; }

footer {
    padding-top: 2em; }
