body {
    font-size: 120%;
}

p {
    font-size: 1.2rem; }

a:hover {
    color: #ed6e00; }
a, a:visited {
       font-weight: bold; }

dl dt {
    font-variant: normal; }
dl dt a {
    color: #005881;
    font-weight: bold;
    text-transform: uppercase;
}
dl dt a:hover {
    color: #00b8dc;
}

h1, h2, h3 {
    color: #f47721;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold; }

.panel {
    background-color: #3fbfb7;
    border: none;
    box-shadow: 10px 10px 10px #669ba2;
    color: #fff; }
.panel * {
    color: #fff; }

.details {
    background-color: #8bd3dd;
    border-top: 10px solid #f69961; }
.details h3 {
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold; }

footer {
    padding-top: 2em; }
